.orders_table__container {
  margin-top: 2rem;
  display: block;
  padding: 0 2rem;
}

.orders_table__container::before {
  content: '';
  position: absolute;
  background: #7e4ccb;
  width: 300px;
  height: 300px;
  z-index: -2;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  animation: moveX 15s linear 0s infinite alternate, moveY 14s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@-moz-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@-o-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@-moz-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@-o-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

.orders_table__container h2 {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-family: sans-serif;
}

.orders_table__container table {
  width: 100%;
  padding: 1.8rem;
  position: relative;
  z-index: -1;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.orders_table__container table thead tr th {
  padding: 1rem 0;
}

.orders_table__container table thead th {
  font-size: 1.2rem;
  font-weight: 600;
}

.orders_table__container table tbody tr {
  cursor: pointer;
}

.orders_table__container table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid rgba(132, 139, 200, 0.18);
  color: #677483;
  font-weight: 200;
}

.orders_table__container table tbody tr:last-child td {
  border: none;
}

@media screen and (max-width: 768px) {
  .orders_table__container table thead th {
    font-size: 0.8rem;
    text-align: left;
    padding: 0 16px;
  }
}
