.restaurants__container {
  margin-top: 2rem;
  display: block;
  padding: 0 2rem;
}

.restaurants__container h2 {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-family: sans-serif;
}

.restaurants__container table {
  background: white;
  width: 100%;
  border-radius: 2rem;
  position: relative;
  z-index: -1;
  padding: 1.8rem;
  text-align: center;
  margin-bottom: 2rem;
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.restaurants__container table:hover {
  box-shadow: 1rem 2.2rem 2rem rgba(132, 139, 200, 0.18);
}

.restaurants__container table thead th {
  font-family: sans-serif;
  font-size: 1.2rem;
}

.restaurants__container table thead tr th {
  padding: 1rem 0;
}
.restaurants__container table tbody tr {
  cursor: pointer;
}

.restaurants__container table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid rgba(132, 139, 200, 0.18);
  color: #677483;
}

.restaurants__container table tbody tr:last-child td {
  border: none;
}

@media screen and (max-width: 768px) {
  .restaurants__container table thead th {
    font-size: 0.8rem;
    text-align: left;
    padding: 0 16px;
  }
}
